@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: rgba(15, 15, 15, 0.95);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(15, 15, 15, 0.95);
}