@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-height: 100vh;
    background-color: rgba(15, 15, 15, 0.95);
  }

  body {
    @apply bg-transparent;
  }
}

